<div class="container-fluid">
  <div class="row">
    <div class="col-2 ml-5 mr-3">
      <%= render 'pets/pet_info', pet: current_owner.pet %>
    </div>
    <div class="col-8">
      <div class="row ml-3 mb-3">
        <h4>会話リスト</h4>
      </div>
      <div class="scroll-area">
        <% if @pets.exists? %>
          <% @pets.each do |pet| %>
            <div class="row chat-list">
              <div class="col-1">
                <%= link_to pet_path(pet) do %>
                  <%= attachment_image_tag pet, :image, size:'80x80', fallback: "pet_no_image.png", class:"rounded-circle icon-img" %>
                <% end %>
              </div>
              <div class="col-10 ml-3">
                <div class="row mt-2">
                  <div class="col-7">
                    <h5><%= pet.name %></h5>
                  </div>
                  <div class="col-3">
                    <%= time_ago_in_words(pet.latest_message(pet).created_at) %>前
                  </div>
                </div>
                <div class="row mt-3 ml-5 chat-message">
                  <%= link_to pet_chats_path(pet_id: pet) do %>
                    <%= truncate(pet.latest_message(pet).message, length: 25) %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="row">
            <div class="mx-auto no-contents">
              <p>会話はまだありません</p>
            </div>
          </div>
        <% end %>
          
      </div>

      </div>
  </div>
  
  <div class="modal-wrapper"></div>
  <div class="diary-modal">
    <%= render 'diaries/diary_form', diary: @diary, pet: current_owner.pet %>
  </div>
  
</div>