<div class="container-fluid">
  <div class="row mb-3 d-flex justify-content-center">
    <h2>新規登録</h2>
  </div>
  <div class="row d-flex justify-content-center">
    <p class="explanation">あなたとペットの情報を入力しましょう！</p>
  </div>
  <div class="row d-flex justify-content-center text-danger">
    <p>※は必須事項になります</p>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <!--Owner情報入力フォーム-->
  <%= form_with model: @owner, url: owner_registration_path, local: true do |f| %>
  <div class="row mt-5">
    <div class="col-lg-4 offset-2">
      <div class="row">
        <h4>あなたについて</h4>
      </div>
      <div class="row mt-2 ml-5">
        <%= f.label :写真, class:"form-label" %>
      </div>
      <div class="row d-flex justify-content-center">
        <%= attachment_image_tag @owner, :image, size: "280x280", fallback: "owner_no_image.png", class:"owner-prev mb-3 rounded" %>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="attachment-field">
          <%= f.attachment_field :image, class:"owner-image", id:"owner-file" %>
        </div>
        <div class="btn-layout pl-5 pr-5" onClick="$('#owner-file').click()" >
          写真を選ぶ
        </div>
      </div>
      <div class="row mt-2 ml-5">
        <%= f.label :名前※, class:"form-label" %>
        <span>(10文字以内で入力してください)</span>
      </div>
      <div class="row d-flex justify-content-center">
        <%= f.text_field :name, size:'30', autocomplete: "name" %>
      </div>
      <div class="row mt-2 ml-5">
        <%= f.label :メールアドレス※, class:"form-label" %>
      </div>
      <div class="row d-flex justify-content-center">
        <%= f.email_field :email, size:'30', autocomplete: "email" %>
      </div>
    </div>
      
      <!--Pet情報入力フォーム-->
      <%= f.fields_for :pet, Pet.new do |pet| %>
        <div class="col-lg-4 ml-4">  
          <div class="row">
            <h4>ペットについて</h4>
          </div>
          <div class="row mt-2 ml-5">
            <%= pet.label :写真, class:"form-label" %>
          </div>
          <div class="row d-flex justify-content-center">
            <%= attachment_image_tag @pet, :image, size: "280x280", fallback: "pet_no_image.png", class:"pet-prev mb-3 rounded" %>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="attachment-field">
              <%= pet.attachment_field :image, class:"pet-image", id:"pet-file" %>
            </div>
            <div class="btn-layout pl-5 pr-5" onClick="$('#pet-file').click()" >
              写真を選ぶ
            </div>
          </div>
          <div class="row mt-2 ml-5">
            <%= pet.label :名前※, class:"form-label" %>
            <span>(10文字以内で入力してください)</span>
          </div>
          <div class="row d-flex justify-content-center">
            <%= pet.text_field :name, size:'30' %>
          </div>
          <div class="row ml-5">
            <%= pet.label :性別※, class:"form-label" %>
          </div>
          <div class="row ml-3">
            <div class="col-lg-3 offset-2">
              <%= pet.radio_button :gender, 'オス', checked: true %>
              <%= pet.label :gender, "オス", {value: 1} %>
            </div>
            <div class="col-lg-3">
              <%= pet.radio_button :gender, 'メス' %>
              <%= pet.label :gender, "メス", {value: 2} %>
            </div>
          </div>
          <div class="row ml-5">
            <%= pet.label :誕生日※, class:"form-label" %>
          </div>
          <div class="row ml-3">
            <div class="col-lg-8 offset-2">
              <%= pet.date_select :birthday, start_year: 1990, end_year: Time.now.year,default: Date.today %>
            </div>
          </div>
          <div class="row ml-5">
            <%= pet.label :種類※, class:"form-label" %>
          </div>
          <div class="row ml-3">
            <div class="col-lg-3 offset-2">
              <%= pet.select :type, Pet.types.keys %>
            </div>
          </div>
          <div class="row ml-5 mt-2">
            <%= pet.label :紹介文, class:"form-label" %>
            <span>(120文字以内で入力してください)</span>
          </div>
          <div class="row d-flex justify-content-center">
            <%= pet.text_area :introduction, size:'40x4',class:"js-text" %>
          </div>
          <p class="js-text-count float-right mr-3">/120</p>
          <div class="row d-flex justify-content-center mt-4">
            <p><span class="fas fa-exclamation-circle"></span> 性別、誕生日、種類は登録後変更ができません。</p>
          </div>
        </div>
      <% end %>
  </div>  
  <div class="row mt-3">
    <div class="col-lg-4 offset-4">
      <div class="row ml-5">
        <%= f.label :パスワード, class:"form-label" %>
        <% if @minimum_password_length %>
        <span>(<%= @minimum_password_length %>文字以上で設定できます)※</span>
        <% end %>
      </div>
      <div class="row d-flex justify-content-center">
        <%= f.password_field :password, size:'30', autocomplete: "new-password" %>
      </div>
      <div class="row ml-5">
        <%= f.label :パスワード確認※, class:"form-label" %>
      </div>
      <div class="row d-flex justify-content-center">
        <%= f.password_field :password_confirmation, size:'30', autocomplete: "new-password" %>
      </div>
      <div class="row d-flex justify-content-center mt-4">
        <%= f.submit "新規登録", class:"btn-layout btn-layout2 pl-5 pr-5 pt-2 pb-2" %>
      </div>
      <div class="row d-flex justify-content-center mt-3">
        <%= link_to "ログイン", new_owner_session_path, class:"btn-layout" %>
      </div>
    </div>
  </div>
  <% end %>
  
</div>