<% pets.each do |pet| %>
  <div class="contents-box">
    <div class="row ml-3">
      <div class="col-12 col-sm-5">
        <%= link_to pet_path(pet) do %>
          <%= attachment_image_tag pet, :image, size:'60x60', fallback: "pet_no_image.png", class:"rounded-circle icon-img" %>
        <% end %>
        <span><h5><%= link_to pet.name, pet_path(pet) %></h5></span>
      </div>
      <div class="col-6 d-none d-sm-block">
        <div class="row">
          <div class="col-3 pt-4">
            <%= pet.type %>
          </div>
          <div class="col-2 pt-4">
            <% if pet.gender == 'オス' %>
               <i class="fas fa-mars gender-icon"></i>
            <% else %>
              <i class="fas fa-venus gender-icon"></i>
            <% end %>
          </div>
          <div class="col-7 pt-2">
            <%= attachment_image_tag pet.owner, :image, size:'50x50', fallback: "owner_no_image.png", class:"rounded-circle icon-img" %>
            <span> <%= pet.owner.name %></span>
          </div>
        </div>
      </div>
    </div>
 
    <div class="row pet-introduction-sub">
       <%= truncate(pet.introduction, length: 100) %>
    </div>
    <div class="row ml-3 follow-btn2-<%= pet.id %>">
      <%= render 'relationships/follow_list', pet: pet %>
    </div>
  </div>
<% end %>