<div class="row">
  <div class="mx-auto">
    <%= link_to pet_path(pet) do %>
      <%= attachment_image_tag pet, :image, size: '120x120', fallback: "no_image.png" %>
    <% end %>
  </div>
</div>
<div class="row mt-2 mb-2 d-flex align-items-center justify-content-center">
  <h4><%= link_to pet.name, pet_path(pet) %></h4>
</div>

<div class="row d-flex justify-content-center">
  <%= attachment_image_tag pet.owner, :image, size: '80x80', fallback: "no_image.png" %>
</div>
<div class="row d-flex align-items-center justify-content-center">
  <i class="fas fa-user-alt"></i><span class="pl-1 mt-1"><%= pet.owner.name %></span>
</div>
<div class="row mt-3 frend-count">
  <div class="mx-auto">
    <p>友だち（<%= pet.following_pets.count%>）</p>
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="mx-auto">
    <%= link_to "いいねリスト", favorites_path %>
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="mx-auto">
    <%= link_to "会話リスト", favorites_path %>
  </div>
</div>
<div class="row">
  <div class="add-diary-button mx-auto">
    日記を書く
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="mx-auto">
    <%= link_to "思い出を見る", memories_path(pet_id: pet) %>
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="mx-auto">
    <%= link_to "思い出を作る", new_memory_path %>
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="mx-auto">
    <%= link_to "プロフィール編集", edit_pet_path(pet) %>
  </div>
</div>