<div class="row ml-4">
  <h4><%= pet.name %></h4>
</div>
<div class="row">
  <div class="mx-auto">
    <%= attachment_image_tag pet, :image, size: '120x120', fallback: "no_image.png" %>
  </div>
</div>

<div class="row mt-3">
  <div class="col-4">
    <%= attachment_image_tag pet.owner, :image, size: '80x80', fallback: "no_image.png" %>
  </div>
  <div class="col-5 ml-1 d-flex align-items-end">
    <%= pet.owner.name %>
  </div>
</div>
<div class="row mt-3 frend-count">
  <div class="mx-auto">
    <p>友だち（<%= pet.following_pets.count%>）</p>
  </div>
</div>
<div class="row">
  <div class="add-diary-button mx-auto">
    日記を書く
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="mx-auto">
    <%= link_to "思い出を見る", memories_path(pet_id: pet) %>
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="mx-auto">
    <%= link_to "思い出を作る", new_memory_path %>
  </div>
</div>
<div class="row mt-3 mb-3">
  <div class="mx-auto">
    <%= link_to "プロフィール編集", edit_pet_path(pet) %>
  </div>
</div>