<% pets.each do |pet| %>
  <div class="pet-contents">
    <div class="row">
      <div class="col-4">
        <%= link_to pet_path(pet) do %>
          <%= attachment_image_tag pet, :image, size:'70x70', fallback: "no_image.png", class:"rounded-circle" %>
        <% end %>
        <span> <%= link_to pet.name, pet_path(pet) %></span>
      </div>
      <div class="col-4 d-flex align-items-center">
        <%= attachment_image_tag pet.owner, :image, size:'50x50', fallback: "no_image.png", class:"rounded-circle" %>
        <span> <%= pet.owner.name %></span>
      </div>
    </div>
      
    <div class="row">  
      <div class="col-5 mt-3 ml-5">
        <%= truncate(pet.introduction, length: 100) %>
      </div>
      
        <% if current_owner.pet.following?(pet) %>
          <div class="col-2 d-flex align-items-center">
            <%= link_to "フォロー中", pet_relationship_path(pet, pet_id: pet.id), method: :delete, class:"follow-btn",data: {confirm: "フォローを解除します。よろしいですか？"} %>
          </div>
          <div class="col-3 ml-1 d-flex align-items-center">
            <%= link_to "会話する", pet_chats_path(pet_id: pet.id), class:"follow-btn" %>
          </div>
        <% else %>
          <div class="col-3 d-flex align-items-center">
            <%= link_to "フォロー", pet_relationships_path(pet_id: pet), method: :post, class:"follow-btn" %>
          </div>
        <% end %>
      
    </div>
  </div>
<% end %>