<div class="container-fluid">
  <div class="row mb-3 d-flex justify-content-center">
    <h2>プロフィール編集</h2>
  </div>
  <%= render "devise/shared/error_messages", resource: current_owner %>
  <%= form_with model: @owner, url: pet_path(@pet) ,local: true do |f| %>
  <div class="row mt-5">
    <div class="col-4 offset-2">
      <div class="row">
        <h4>あなたについて</h4>
      </div>
      <div class="row mt-2 ml-5">
        <%= f.label :写真, class:"form-label" %>
      </div>
      <div class="row d-flex justify-content-center">
        <%= attachment_image_tag current_owner, :image, size: '280x280', fallback: "owner_no_image.png", class:"owner-prev mb-3 rounded" %>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="attachment-field">
          <%= f.attachment_field :image, class:"owner-image", id:"owner-file" %>
        </div>
        <div class="btn-layout pl-5 pr-5" onClick="$('#owner-file').click()" >
          写真を選ぶ
        </div>
      </div>
      <div class="row mt-2 ml-5">
        <%= f.label :名前, class:"form-label" %>
        <span>(10文字以内で入力してください)</span>
      </div>
      <div class="row d-flex justify-content-center">
         <%= f.text_field :name, size:'30', autocomplete: "name" %>
      </div>
    </div>
      <%= f.fields_for :pet do |pet| %>
        <div class="col-4 ml-4">
          <div class="row">
            <h4>ペットについて</h4>
          </div>
          <div class="row mt-2 ml-5">
            <%= pet.label :写真, class:"form-label" %>
          </div>
          <div class="row d-flex justify-content-center">
            <%= attachment_image_tag current_owner.pet, :image, size: '280x280', fallback: "pet_no_image.png", class:"pet-prev mb-3 rounded" %>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="attachment-field">
              <%= pet.attachment_field :image, class:"pet-image", id:"pet-file" %>
            </div>
            <div class="btn-layout pl-5 pr-5" onClick="$('#pet-file').click()" >
              写真を選ぶ
            </div>
          </div>
          <div class="row mt-2 ml-5">
            <%= pet.label :名前, class:"form-label" %>
            <span>(10文字以内で入力してください)</span>
          </div>
          <div class="row d-flex justify-content-center">
            <%= pet.text_field :name, size:'30' %>
          </div>
          <div class="row ml-5 mt-2">
            <%= pet.label :紹介文, class:"form-label" %>
            <span>(120文字以内で入力してください)</span>
          </div>
          <div class="row ml-5">
            <%= pet.text_area :introduction, size:'50x5',class:"js-text" %>
          </div>
          <p class="js-text-count float-right">/120</p>
          <div class="row ml-5 mt-3">
            <%= pet.label :性格, class:"form-label" %>
          </div>
          <div class="row ml-5 d-flex justify-content-center">
          <!--PetPersonalityを選択-->
            <%= pet.collection_check_boxes :pet_personalities,PetPersonality.personalities,:last,:first, include_hidden: false  do |b| %>
              <div class="col-5">
                <%= b.check_box checked: !@pet.pet_personalities.find_by(personality: b.text).nil? %>
                <%= b.label %>
              </div>
            <%end%>
          </div>
        </div>
      <% end %>
  </div>
  
  <div class="row d-flex justify-content-center mt-3">
      <%= f.submit "更新する", class:"btn-layout btn-layout2 pl-5 pr-5 pt-2 pb-2" %>
  </div>
  <div class="row d-flex justify-content-center mt-3">
    <%= link_to "退会する", unsubscribe_owner_path(current_owner), class:"btn-layout btn-layout3" %>
  </div>
  <% end %>
                
</div>