<div class="container-fluid">
  <div class="row mb-3 d-flex justify-content-center">
    <h2>プロフィール編集</h2>
  </div>
  
  <%= form_with model: current_owner, url: pet_path(@pet) ,local: true do |f| %>
  <div class="row mt-5">
    <div class="col-4 offset-2">
      <div class="row">
        <h4>あなたについて</h4>
      </div>
      <div class="row mt-2 ml-5">
        <%= f.label :写真, class:"form-label" %>
      </div>
      <div class="row d-flex justify-content-center">
        <%= attachment_image_tag current_owner, :image, size: "280x280", fallback: "no_image.png", class:"owner-prev mb-3" %>
        <%= f.attachment_field :image, class:"owner-image" %>
      </div>
      <div class="row mt-2 ml-5">
        <%= f.label :名前, class:"form-label" %>
      </div>
      <div class="row d-flex justify-content-center">
         <%= f.text_field :name, size:'30', autofocus: true, autocomplete: "name" %>
      </div>
    </div>
      <%= f.fields_for :pet, @pet do |pet| %>
        <div class="col-4 ml-4">
          <div class="row">
            <h4>ペットについて</h4>
          </div>
          <div class="row mt-2 ml-5">
            <%= pet.label :写真, class:"form-label" %>
          </div>
          <div class="row d-flex justify-content-center">
            <%= attachment_image_tag @pet, :image, size: '280x280', fallback: "no_image.png", class:"pet-prev mb-3" %>
            <%= pet.attachment_field :image, class:"pet-image" %>
          </div>
          <div class="row mt-2 ml-5">
            <%= pet.label :名前, class:"form-label" %>
          </div>
          <div class="row d-flex justify-content-center">
            <%= pet.text_field :name, size:'30' %>
          </div>
          <div class="row ml-5 mt-2">
            <%= pet.label :紹介文, class:"form-label" %>
          </div>
          <div class="row d-flex justify-content-center">
            <%= pet.text_area :introduction, size:'40x4' %>
          </div>
          <div class="row ml-5 mt-2">
            <%= pet.label :性格, class:"form-label" %>
          </div>
          <div class="row ml-5 d-flex justify-content-center">
          <!--PetPersonalityを選択-->
            <%= pet.fields_for :pet_personalities do |pp| %>
            <% PetPersonality.personalities.map do |k, v| %>
              
                <div class="col-5">
                  <%= pp.check_box :personality, {}, v, false %>
                  <%= pp.label :personality, k %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
  </div>
  
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-3">
      <%= f.submit "更新する", class:"btn" %>
    </div>
    <div class="col-3">
      <%= link_to "退会する", unsubscribe_owner_path(current_owner), class:"btn" %>
    </div>
  </div>
  <% end %>
                
</div>