<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="row ml-4">
        <div class="col-3 ml-4">
          <%= attachment_image_tag @pet, :image, size: '220x220', fallback: "no_image.png" %>
        </div>
        <div class="col-8">
          <div class="row ml-2">
            <div class="col-4 d-flex align-items-end">
              <h4><%= @pet.name %></h4>
            </div>
            <div class="col-2 d-flex align-items-end">
              <%= @pet.type %>
            </div>
            <div class="col-2 d-flex align-items-end">
              <% if @pet.gender == 'オス' %>
                 <i class="fas fa-mars gender-icon"></i>
              <% else %>
                <i class="fas fa-venus gender-icon"></i>
              <% end %>
            </div>
            <div class="col-4 d-flex align-items-end">
              <%= @pet.age %>歳<%= @pet.moon_age %>ヶ月
            </div>
          </div>
          <div class="row ml-5 mt-4 mb-4 pb-2">
            <table class="personality-table">
              <tr>
                <th>性格</th>
                <% if @pet_personalities.exists? %>
                  <% @pet_personalities.each do |pp| %>
                  <td><%= pp.personality %></td>
                  <% end %>
                <% else %>
                  <td class="select-personality-btn"><%= button_tag "性格を選ぶ" %></td>
                <% end %>
              </tr>
            </table>
          </div>
          <div class="row mt-4">
            <div class="col-2">
              <%= attachment_image_tag @pet.owner, :image, size: '100x100', fallback: "no_image.png" %>
            </div>
            <div class="col-3 ml-3">
              <%= @pet.owner.name %>
            </div>
            <div class="col-3">
              <p>友だち（<%= @pet.following_pets.count%>）</p>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-12 clearfix">
                <div class="float-right">
                  <% if @pet.id == current_owner.pet.id %>
                    <%= link_to "編集する", edit_pet_path(@pet), class:"btn-layout" %>
                  <% elsif current_owner.pet.following?(@pet) %>
                    <%= link_to "フォロー中", pet_relationship_path(@pet), method: :delete, data: {confirm: "削除しますか？"}, class:"btn-layout cancel-btn mr-3"  %>
                    <%= link_to "会話する", pet_chats_path(@pet), class:"btn-layout" %>
                  <% else %>
                    <%= link_to "フォロー", pet_relationships_path(@pet), method: :post, class:"btn-layout" %>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row pet-introduction">
        <div class="col-9 offset-2">
          <%= simple_format(@pet.introduction) %>
        </div>
      </div>
      
      <div class="row mt-5 ml-5">
        <!--タブメニュー-->
        <div class="col-12">
          <ul id="tab-menu">
            <li><a href="#tab1" class="active">日記</a></li>
            <li><a href="#tab2" class="">アルバム</a></li>
            <li><a href="#tab3" class="">思い出</a></li>
            <li><a href="#tab4" class="">友だち</a></li>
          </ul>
        </div>
        <!--タブの中身-->
        <div class="col-12" id="tab-contents">
          <div class="tab-area">
            <!--日記一覧(tab1)-->
            <div id="tab1" class="tab">
              <div class="row">
                <div class="col-2">
                  <% if @pet.id == current_owner.pet.id %>
                    <div class="add-diary-button btn-layout">
                      日記を書く
                    </div>
                  <% end %>
                </div>
                <div class="col-8">
                  <% if @diaries.exists? %>
                    <%= render 'diaries/diaries_list', diaries: @diaries %>
                  <% else %>
                    <div class="row">
                      <div class="mx-auto no-contents">
                        <p>日記ははまだありません</p>
                        <% if @pet.id == current_owner.pet.id %>
                          <p>今日の出来事を日記に書いてみましょう！</p>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
    
            <!--アルバム一覧(tab2)-->
            <div id="tab2" class="tab">
              <div class="row">
                <% if @photos.exists? %>
                  <% @photos.each do |photo| %>
                    <div class="col-3 mb-3">
                      <%= attachment_image_tag photo, :image, size: '190x190' %>
                    </div>
                  <% end %>
                <% else %>
                  <div class="mx-auto no-contents">
                    <p>アルバムはまだありません</p>
                    <% if @pet.id == current_owner.pet.id %>
                      <p>日記に写真を載せて投稿しましょう!</p>
                      <div class="add-diary-button post-diary">
                        日記を書く
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
      
            <!--思い出(tab3)-->
            <div id="tab3" class="tab">
              <div id="memories_calendar">
                <%= render "memories_calendar", memories: @memories %>
              </div>
              <%= link_to "思い出を作る", new_memory_path, class:"btn-layout"%>
            </div>
    
            <!--友だち(tab4)-->
            <div id="tab4" class="tab">
              <% unless @pet.followed_pets.blank? %>
                <%= render 'pets/pet_list', pets: @pet.followed_pets %>
              <% else %>
                <div class="mx-auto no-contents">
                  <p>友だちはまだいません</p>
                  <% if @pet.id == current_owner.pet.id %>
                    <p>フォローして友だちを作りましょう!</p>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 ml-5">
      <%= render 'searches/search_box' %>
    </div>
  </div>


  
  <div class="modal-wrapper"></div>
  <!--日記新規投稿-->
  <%= render 'diaries/diary_form', diary: @diary, pet: @pet %>
  <!--ペットの性格入力-->
  <%= render 'pet_personalities/personality_form', pet: @pet %>
    
</div>