<div class="container-fluid">
  <div class="row">
    <div class="col-3 ml-4">
      <%= attachment_image_tag @pet, :image, size: '220x220', fallback: "no_image.png" %>
    </div>
    <div class="col-6">
      <div class="row">
        <%= @pet.name %>
          <% if @pet.gender == 'オス' %>
           <i class="fas fa-mars gender-icon"></i>
          <% else %>
            <i class="fas fa-venus gender-icon"></i>
          <% end %>
        <%= @pet.age %>歳<%= @pet.moon_age %>ヶ月
      </div>
      <div class="row">
        <div class="col-6">
          <%= @pet.type %>
        </div>
        <div class="col-2">
          <p>性格</p>
        </div>
        <div class="col-4">
          <% if @pet_personalities.exists? %>
            <% @pet_personalities.each do |pp| %>
              <%= pp.personality %>
            <% end %>
          <% else %>
            <div class="select-personality-btn">
              <%= button_tag "#{@pet.name}の性格を選ぶ" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <%= @pet.introduction %>
      </div>
      <div class="row">
        <div class="col-4">
          <p>友だち（<%= @pet.following_pets.count%>）</p>
        </div>
        <div class="col-3 col-offset-3">
          <% if @pet.id == current_owner.pet.id %>
            <%= link_to "プロフィールを編集する", edit_pet_path(@pet) %>
          <% elsif current_owner.pet.following?(@pet) %>
            <%= link_to "友だち", pet_relationship_path(@pet), method: :delete %>
            <%= link_to "あいさつする", pet_chats_path(@pet) %>
          <% else %>
            <%= link_to "友だちになる", pet_relationships_path(@pet), method: :post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-8 ml-4">
      <!--タブメニュー-->
      <ul id="tab-menu">
        <li><a href="#tab1" class="active">日記</a></li>
        <li><a href="#tab2" class="">アルバム</a></li>
        <li><a href="#tab3" class="">思い出</a></li>
        <li><a href="#tab4" class="">友だち</a></li>
      </ul>
      <!--タブの中身-->
      <div id="tab-contents">
        <div class="tab-area">
          <!--日記一覧(tab1)-->
          <div id="tab1" class="tab">
            <div class="row">
              <div class="col-2">
                <% if @pet.id == current_owner.pet.id %>
                  <div class="add-diary-button">
                    日記を書く
                  </div>
                <% end %>
              </div>
              <div class="col-8">
                <% if @diaries.exists? %>
                  <%= render 'diaries/diaries_list', diaries: @diaries %>
                <% else %>
                  <div class="row">
                    <div class="mx-auto no-contents">
                      <p>日記ははまだありません</p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
  
          <!--アルバム一覧(tab2)-->
          <div id="tab2" class="tab">
            <div class="row">
              <% if @photos.exists? %>
                <% @photos.each do |photo| %>
                  <div class="col-3 mb-3">
                    <%= attachment_image_tag photo, :image, size: '190x190' %>
                  </div>
                <% end %>
              <% else %>
                <div class="mx-auto no-contents">
                  <p>アルバムはまだありません</p>
                  <% if @pet.id == current_owner.pet.id %>
                    <p>日記に写真を載せて投稿しましょう!</p>
                    <p class="add-diary-button">
                      日記を書く
                    </p>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
  
          <!--思い出(tab3)-->
          <div id="tab3" class="tab">
            <p>思い出</p>
            <%= link_to "思い出を作る", new_memory_path %>
          </div>
  
          <!--友だち(tab4)-->
          <div id="tab4" class="tab">
            <p>友だち</p>
            <% @pet.followed_pets.each do |follower| %>
              <div class="row">
                <div class="col-2">
                  <%= attachment_image_tag follower, :image, size: '120x120', fallback: "no_image.png" %>
                </div>
                <div class="col-7">
                  <div class="row">
                    <%= link_to follower.name, pet_path(follower) %>
                  </div>
                  <div class="row mt-3 ml-5">
                    <%= follower.introduction %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-4">
      
    </div>
    
    
  </div>
  
  <div class="modal-wrapper"></div>
  <!--日記新規投稿-->
  <%= render 'diaries/diary_form', diary: @diary, pet: @pet %>
  <!--ペットの性格入力-->
  <%= render 'pet_personalities/personality_form', pet: @pet %>
    
</div>