<% diaries.each do |diary| %>
<%= hidden_field diary, :id, :multiple => true, :value => diary.id, class: 'diary-comment-id'%>
  <div class="contents-box ml-3 mt-2">
    <div class="row">
      <div class="col-2">
        <%= attachment_image_tag diary.pet, :image, size: '60x60', fallback: "no_image.png", class:"rounded-circle" %>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-5 mt-2">
            <h5><%= link_to diary.pet.name, pet_path(diary.pet) %></h5>
          </div>
          <div class="col-6 ml-3 diary-date">
            <%= diary.created_at.to_s(:datetime_jp) %>
          </div>
        </div>
        <div class="row mt-3 ml-5">
          <%= attachment_image_tag diary, :image, size: '200x200' %>
        </div>
        <div class="row mt-1 ml-2">
          <%= diary.body %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2 offset-6 comment-btn-<%= diary.id %>">
        <i class="far fa-comment-alt"></i>
      </div>

      <div class="col-2 favorite-btn-<%= diary.id %>">
        <%= render 'favorites/favo', diary: diary %>
      </div>
      
      <!--日記削除ボタン-->
      <% if diary.pet == current_owner.pet %>
        <div class="col-2">
          <%= link_to diary_path(diary), method: :delete, data: {confirm: "削除します。よろしいですか？"} do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <!--コメント一覧-->
    <%= render 'diary_comments/diary_comments_list', diary: diary %>

  </div>
<% end %>