<% diaries.each do |diary| %>
<%= hidden_field diary, :id, :multiple => true, :value => diary.id, class: 'diary-comment-id'%>
  <div class="contents-box ml-3 mt-2">
    <div class="row">
      <div class="col-2 col-sm-2">
        <%= link_to  pet_path(diary.pet) do %>
          <%= attachment_image_tag diary.pet, :image, size: '80x80', fallback: "pet_no_image.png", class:"rounded-circle icon-img" %>
        <% end %>
      </div>
      <div class="col-9 col-sm-10">
        <div class="row mt-2">
          <div class="col-12 col-sm-6">
            <h5><%= link_to diary.pet.name, pet_path(diary.pet) %></h5>
          </div>
          <div class="col-12 col-sm-6 post-date">
            <%= diary.created_at.to_s(:datetime_jp) %>
          </div>
        </div>
        <%= link_to diary_path(diary) do %>
          <div class="diary-body">
            <%= diary.body %>
          </div>
        <% end %>
        <% if diary.image.present? %>
          <div class="row justify-content-center">
            <%= link_to diary.image_url, "data-lightbox" => diary.image do %>
              <%= image_tag diary.image_url, size:'200x200'%>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-2 offset-6" id="comment-btn-<%= diary.id %>">
        <%= render 'diary_comments/diary_comments_count', diary: diary %>
      </div>
      <div class="col-2 favorite-btn-<%= diary.id %> diary-favo-count">
        <% if owner_signed_in? %>
          <%= render 'favorites/favo', diary: diary %>
        <% else %>
          <i class="far fa-heart"></i>
          <span><%= diary.favorites.count %></span>
        <% end %>
      </div>
      
      <!--日記削除ボタン-->
      <% if owner_signed_in? && diary.pet == current_owner.pet %>
        <div class="col-2 diary-delete">
          <%= link_to diary_path(diary), method: :delete, data: {confirm: "削除します。よろしいですか？"},class:"trash-icon" do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <!--コメント一覧-->
    <% if owner_signed_in? %>
      <div class="comment-box" id="comment-<%= diary.id %>">
        <%= render 'diary_comments/diary_comments_list', diary: diary %>
      </div>
      
    <% end %>

  </div>
<% end %>
<%#= paginate diaries %>