<% case notification.action %>
  <% when 'follow' then %>
    <span>があなたをフォローしました</span>
  <% when 'favorite' then %>
    <span>があなたの日記にいいねしました</span>
    <div class="row pt-2 ml-1">
      <%= attachment_image_tag notification.diary.pet, :image, size: '30x30', fallback: "pet_no_image.png", class:"rounded-circle icon-image" %>
      <div class="mt-1 ml-2">
        <%= notification.diary.body %>
      </div>
    </div>
  <% when 'comment' then %>
    <% if notification.diary.pet_id == notification.visited.id %>
      <span>があなたの日記に</span>
    <% else %>
      <%= attachment_image_tag notification.diary.pet, :image, size: '70x70', fallback: "pet_no_image.png", class:"rounded-circle icon-image" %>
      <span><%= link_to notification.diary.pet.name, pet_path(notification.diary.pet) %>さんの日記に</span>
    <% end %>
  <span>がコメントしました</span>
  <div class="row pt-2 ml-1">
    <%= attachment_image_tag notification.diary.pet, :image, size: '30x30', fallback: "pet_no_image.png", class:"rounded-circle icon-image" %>
    <div class="mt-1 ml-2">
      <%= truncate(notification.diary.body, length: 20) %>
    </div>
  </div>
<% end %>