<% case notification.action %>
  <% when 'follow' then %>
    <span>があなたをフォローしました</span>
  <% when 'favorite' then %>
    <span>があなたの思い出にいいねしました</span>
    <div class="row pt-2 ml-1">
      <%= attachment_image_tag notification.memory.pet, :image, size: '30x30', fallback: "pet_no_image.png", class:"rounded-circle icon-image" %>
      <div class="mt-1 ml-2">
        <%= link_to notification.memory.title, memory_path(notification.memory) %>
      </div>
    </div>
  <% when 'comment' then %>
    <% if notification.memory.pet_id == notification.visited.id %>
      <span>があなたの思い出に</span>
    <% else %>
      <%= attachment_image_tag notification.memory.pet, :image, size: '70x70', fallback: "pet_no_image.png", class:"rounded-circle icon-image" %>
      <span><%= link_to notification.memory.pet.name, pet_path(notification.memory.pet) %>さんの<span><%= link_to "思い出", memory_path(notification.memory) %></span>に</span>
    <% end %>
  <span>がコメントしました</span>
  <div class="row pt-2 ml-1">
    <%= attachment_image_tag notification.memory.pet, :image, size: '30x30', fallback: "pet_no_image.png", class:"rounded-circle icon-imagez" %>
    <div class="mt-1 ml-2">
      <%= link_to notification.memory.title, memory_path(notification.memory) %>
    </div>
  </div>
<% end %>