<div class="container-fluid">
  <div class="row">
    <div class="col-2 ml-5 mr-3">
      <%= render 'pets/pet_info', pet: @pet %>
    </div>
    <div class="col-7">
      <div class="chat-contents">
        <%= render 'chat_contents', chats: @chats %>
      </div>
      
    </div>
    <div class="col-2">
      <%= render 'pets/pet_info', pet: current_owner.pet %>
      <div class="row message-box d-flex align-items-center justify-content-center">
        <%= form_with model: [@pet, @chat], url: pet_chats_path(room_id: @room.id), remote: true do |f| %>
            <%= f.text_area :message, size: '25x3', placeholder: "メッセージ入力", class:"chat-form" %>
            <div class="col-2 offset-5 clearfix">
                <%= f.submit "送信", class:"btn-layout pr-4 pl-4" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>