<div class="container">
  <div class="about-contents">
    <div class="row d-flex justify-content-center">
      <h4>Petto！とは</h4>
    </div>
    <div class="row">
      <div class="col-lg-3 pt-3">
        <%= image_tag 'dog_1.png',size:'230x300',class:"mt-5" %>
      </div>
      <div class="col-lg-6">
        <div class="row mt-5 mb-5 d-flex justify-content-center">
          <h5>「大切なペットと、もっと、ずっと」</h5>
        </div>
        
        <div class="row mb-3 d-flex justify-content-center main-text">
          <p>Petto！は「あなたのペットが主役のSNS」です<br />
           ペットとの日常を切り取って<br />
           一番近くにいるあなただからこそわかる<br />
           ペットの魅力、可愛さを<br />
           思う存分共有してみましょう</p>
        </div>
      </div>
      <div class="col-lg-3 pt-5">
        <%= image_tag 'cat_2.png',size:'250x250',class:"mt-5" %>
      </div>
    </div>
   
    
    <div class="row about-text">
      <div class="col-lg-6">
        <h5>1 日記を書こう</h5>
        <p>ペットとの生活で、ちょっとした出来事やペットの可愛い仕草を</p><br />
        <p>投稿してみんなと共有しましょう！</p><br />
        <p>写真と一緒に投稿することもできます</p><br />
        <p>みんなからいいねやコメントをもらえるかもしれません</p><br />
        <p>短い文章でお気軽に日記を書いてみましょう！</p>
      </div>
      <div class="col-lg-6 pt-3">
        <%= image_tag 'cat_1.png',size:'320x280',class:"mt-5" %>
      </div>
    </div>
    
    <div class="row about-text">
      <div class="col-lg-6 order-lg-last">
        <h5>2 思い出を残そう</h5>
        <p>一日たっぷり遊んだ日や、誕生日など</p><br />
        <p>いつもとは少し違う特別な日の出来事を形に残してみましょう</p><br />
        <p>日記よりも長い文章と複数の写真で</p><br />
        <p>ブログのように投稿することができます</p><br />
        <p>思い出に残すと、あなた専用のカレンダーに追加されるので</p><br />
        <p>いつでも簡単に振り返ることができます</p>
      </div>
      <div class="col-lg-6 mt-3">
        <%= image_tag 'birthday.png',size:'350x310',class:"mt-5" %>
      </div>
    </div>
    
    <div class="row about-text">
      <div class="col-lg-6">
        <h5>3 友だちを探そう</h5>
        <p>ペッと！には種類、性別、性格など</p><br />
        <p>本当に様々なペットたちがたくさんいます</p><br />
        <p>フォローをすることでそんなペットたちと友だちになることができます</p><br />
        <p>ペットと投稿を検索して探すこともできるので</p><br />
        <p>いろんなペットたちと友だちになってみましょう！</p><br />
        <p>友だちが出来れば、Petto！生活がより楽しくなります！</p>
      </div>
      <div class="col-lg-6">
        <%= image_tag 'animals.png',size:'310x300',class:"mt-5" %>
      </div>
    </div>
    
    <div class="row about-text">
      <div class="col-lg-6 order-lg-last">
        <h5>4 友だちと会話しよう</h5>
        <p>友だちになると、そのペットと会話ができるようになります</p><br />
         <p>お互いのペットの魅力を伝えあったり</p><br />
         <p>情報交換をしたり</p><br />
         <p>色々とコミュニケーショをとることができます</p><br />
         <p>たくさんの友だちと仲良くなりましょう！</p>
      </div>
      <div class="col-lg-6 pt-5">
        <%= image_tag 'chat_animal.png',size:'380x220',class:"mt-5" %>
      </div>
    </div>
    
    <div class="row d-flex justify-content-center">
      <p>あなたとペットの生活がより楽しく、より好きになりますように</p>
    </div>
    
    <div class="row d-flex justify-content-center">
      <% if owner_signed_in? %>  
        <%= link_to "マイハウスへ", pet_path(current_owner.pet), class:"btn-layout btn-layout4" %>
      <% else %>  
        <%= link_to "始める", new_owner_registration_path, class:"btn-layout btn-layout4" %>
      <% end %>
    </div>
    
  </div>
</div>
