<div class="container-fluid">
  <div class="top-area">
    <div class="text-center">
      <% if owner_signed_in? && current_owner.pet.unchecked_notifications(current_owner.pet).present? %>
        <%= link_to notifications_path do %>
          <h5>新しいお知らせが <span><%= current_owner.pet.unchecked_notifications(current_owner.pet).count %></span> 件あります チェックしてみましょう！</h5>
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <h5>ペットとの毎日をもっと楽しく、ずっと大切に</h5>
    </div>
    <div class=""></div>
    <div class="row ml-2">
      <div class="col-6 ml-5">
        <div class="row">
          <p>今週のベストショット</p>
        </div>
        <div class="row">
          <% @random_photos.each do |photo|%>
            <div class="col-3">
              <%= link_to photo.image_url, "data-lightbox" => "group" do %>
                <%= image_tag photo.image_url, size:"150x150", class:"rounded" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="row">
          <%= link_to "もっと見る", diaries_path %>
        </div>
        <div class="row">
          <p>人気のペットたち</p>
        </div>
        <div class="row">
          <% @pets.each do |pet|%>
            <div class="col-4">
              <div class="row">
                <%= attachment_image_tag pet, :image, size:"120x120", fallback: "pet_no_image.png", class:"rounded" %>
              </div>
              <div class="row">
                <%= pet.name %>
              </div>
              <div class="row">
                <%= pet.type %>
                <% if pet.gender == 'オス' %>
                  <span class="fas fa-mars gender-icon"></span>
                  <% else %>
                  <span class="fas fa-venus gender-icon"></span>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <%= link_to "もっと見る", diaries_path %>
        </div>
      </div>
      <div class="col-4 ml-4">
        <div class="row">
          <p>本日の投稿</p>
        </div>
        <div class="row">
          <div class="scroll-area">
            <% if @diaries.present? %>
              <%= render 'diaries/diaries_list', diaries: @diaries %>
            <% else %>
              投稿はまだありません
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  