<div class="container-fluid">
  <div class="top-area">
    <div class="text-center">
      <% if owner_signed_in? && current_owner.pet.unchecked_notifications(current_owner.pet).present? %>
        <%= link_to notifications_path do %>
          <h5>新しいお知らせが <span><%= current_owner.pet.unchecked_notifications(current_owner.pet).count %></span> 件あります チェックしてみましょう！</h5>
        <% end %>
      <% end %>
    </div>
    <div class="text-center mt-5">
      <h5>ペットとの毎日をもっと楽しく、ずっと大切に</h5>
    </div>
    <ul class="bxslider">
      <li><%= image_tag 'slider_1.png',size:'1900x700',class:"mt-5" %></li>
      <li><%= image_tag 'slider_2.png',size:'1900x700',class:"mt-5" %></li>
      <li><%= image_tag 'slider_3.png',size:'1900x700',class:"mt-5" %></li>
      <li><%= image_tag 'slider_4.png',size:'1900x700',class:"mt-5" %></li>
      <li><%= image_tag 'slider_5.png',size:'1900x700',class:"mt-5" %></li>
      <li><%= image_tag 'slider_6.png',size:'1900x700',class:"mt-5" %></li>
      <li><%= image_tag 'slider_7.png',size:'1900x700',class:"mt-5" %></li>
    </ul>
    <div class="row ml-4">
      <div class="col-6 ml-5">
        <div class="row">
          <p>今週のベストショット</p>
        </div>
        <% if @random_photos.present? %>
          <ul class="scroll-horizontal mt-4">
            <% @random_photos.each do |photo|%>
              <li class="scroll-item">
                <%= link_to photo.image_url, "data-lightbox" => "group" do %>
                  <%= image_tag photo.image_url, size:"230x230", class:"rounded" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <div class="row mt-5 ml-5">
            <h6>今週投稿された写真はありません</h6>
          </div>
        <% end %>
        <div class="row">
          <div class="col-3 offset-9">
            <%= link_to "もっと見る>>", diaries_path %>
          </div>
        </div>
        <div class="row mt-5">
          <p>人気のペットたち</p>
        </div>
        <div class="scroll-horizontal mt-4">
          <% @pets.each do |pet|%>
            <div class="col-4 scroll-item">
                <div class="text-center">
                  <%= attachment_image_tag pet, :image, size:"150x150", fallback: "pet_no_image.png", class:"rounded-circle icon-img mr-5" %>
                </div>
                <div class="text-center">
                  <%= link_to pet.name,pet_path(pet), class:""%>
                </div>
                <div class="text-center">
                  <%= pet.type %>
                  <% if pet.gender == 'オス' %>
                    <span class="fas fa-mars gender-icon ml-3"></span>
                    <% else %>
                    <span class="fas fa-venus gender-icon ml-3"></span>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>
        <div class="row">
          <div class="col-3 offset-9 mt-2">
            <%= link_to "もっと見る>>", diaries_path %>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row ml-3">
          <p>本日の投稿</p>
        </div>
        <div class="today-diary">
          <div class="scroll-area">
            <% if @diaries.present? %>
              <%= render 'diaries/diaries_list', diaries: @diaries %>
            <% else %>
              <div class="text-center mt-5">
                投稿はまだありません
              </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-4 offset-8">
            <%= link_to "もっと見る>>", diaries_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  