<div class="container">
  <div class="row d-flex justify-content-center">
    <h2>ログイン</h2>
  </div>
  
  <%= form_with model: @owner, url: owner_session_path, local: true do |f| %>
  <div class="row mt-3">
    <div class="col-4 offset-4">
      <div class="row ml-3">
        <%= f.label :メールアドレス, class:"form-label" %>
      </div>
      <div class="row d-flex justify-content-center">
        <%= f.email_field :email, size:'30', autofocus: true, autocomplete: "email" %>
      </div>
      <div class="row ml-3 mt-3">
        <%= f.label :パスワード, class:"form-label" %>
      </div>
      <div class="row d-flex justify-content-center">
        <%= f.password_field :password, size:'30', autocomplete: "current-password" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="row ml-5 mt-2">
          <%= f.check_box :remember_me, class:"mt-1 mr-1" %>
          <%= f.label :ログイン状態を保存する %>
        </div>
      <% end %>
      <div class="row mt-5 d-flex justify-content-center">
        <%= f.submit "ログイン" %>
      </div>
    </div>
  </div>
  <% end %>
  
  <div class="row d-flex justify-content-center">
    <%= link_to "新規登録", new_owner_registration_path %>
    <%= link_to "パスワードをお忘れの場合", new_password_path(resource_name) %>
  </div>
</div>


