<div class="container-fluid">
  <div class="row">
    <%= render 'pets/pet_info', pet: current_owner.pet %>
    <div class="col-lg-6 ml-5">
      
      <!--検索条件表示-->
      <div class="row ml-5 mt-2 mb-3 d-flex align-items-center">
        <%= form_with url: search_path, scope: :search, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, size:'28',placeholder: "#{@search_params[:keyword]}" %>
          <%= button_tag :type => "submit", :class =>"btn-layout" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
      <% if @search_params[:types].present? %>
        <div class="row">
          <div class="col-lg-2">
            <p>種類 :</p>
          </div>
          <% @search_params[:types].each do |type| %>
            <% Pet.types.map do |k,v| %>
              <% if type.to_i == v %>
                <div class="mr-2">
                  <%= k %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if @search_params[:genders].present? %>
        <div class="row">
          <div class="col-lg-2">
            <p>性別 :</p>
          </div>
          <% @search_params[:genders].each do |gender| %>
            <% Pet.genders.map do |k,v| %>
              <% if gender.to_i == v %>
                <div class="mr-2">
                  <%= k %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if @search_params[:personalities].present? %>
        <div class="row">
          <div class="col-lg-2">
            <p>性格 :</p>
          </div>
          <% @search_params[:personalities].each do |personality| %>
            <% PetPersonality.personalities.map do |k,v| %>
              <% if personality.to_i == v %>
                <div class="mr-2">
                  <%= k %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      
      <!--検索結果表示-->
      <div class="row">
        <div class="col-lg-12">
          <ul id="tab-menu">
            <li><a href="#tab1" class="active">ペット</a></li>
            <li><a href="#tab2" class="">日記</a></li>
            <li><a href="#tab3" class="">思い出</a></li>
          </ul>
        </div>
        
        <div class="col-lg-12">
          <div id="tab-contents">
              
              <!--ペット検索結果一覧(tab1)-->
              <div id="tab1" class="tab tab-2">
                <% if @pets.present? %>
                  <div class="scroll-area">
                    <%= render 'pets/pet_list', pets: @pets %>
                  </div>
                <% else %>
                  <div class="row">
                    <div class="mx-auto no-contents">
                      <p>該当するペットはいません</p>
                    </div>
                  </div>
                <% end %>
              </div>
      
              <!--日記検索結果一覧(tab2)-->
              <div id="tab2" class="tab tab-2">
                <% if @diaries.present? %>
                <div class="scroll-area">
                  <%= render 'diaries/diaries_list', diaries: @diaries %>
                </div>
                  
                <% else %>
                  <div class="row">
                    <div class="mx-auto no-contents">
                      <p>該当する日記はありません</p>
                    </div>
                  </div>
                <% end %>
              </div>
      
              <!--思い出検索結果一覧(tab3)-->
              <div id="tab3" class="tab tab-2">
                <% if @memories.present? %>
                  <div class="scroll-area">
                    <%= render 'memories/memory_list', memories: @memories, posted_by_pet: nil, diary: @diary %>
                  </div>
                <% else %>
                  <div class="row">
                    <div class="mx-auto no-contents">
                      <p>該当する思い出はありません</p>
                    </div>
                  </div>
                <% end %>
              </div>
              
          </div>
          
        </div>
      </div>
    </div>
    <%= render 'searches/search_box' %>
  </div>
  <div class="modal-wrapper"></div>
  <div class="diary-modal">
    <%= render 'diaries/diary_form', diary: @diary, pet: current_owner.pet %>
  </div>
</div>