<div class="row">
  <h4>みんなの思い出</h4>
</div>
<% memories.each do |memory| %>
  <div class="memory-contents">
    <div class="row">
      <div class="col-3">
        <%= attachment_image_tag memory.pet, :image, size:'40x40', fallback: "no_image.png", class:"rounded-circle" %>
        <span> <%= memory.pet.name %></span>
      </div>
      <div class="col-3">
        <%= attachment_image_tag memory.pet.owner, :image, size:'40x40', fallback: "no_image.png", class:"rounded-circle" %>
        <span> <%= memory.pet.owner.name %></span>
      </div>
      <div class="col-5 memory-date d-flex align-items-center justify-content-center">
        <%= memory.created_at.to_s(:datetime_jp) %>
      </div>
    </div>
    <div class="row ml-5 mt-2 mb-2">
      <%= link_to memory.title, memory_path(memory) %>
    </div>
    <div class="row">
      <div class="col-10 offset-2">
        <%= truncate(memory.body, length: 24) %>
      </div>
    </div>
    <%= render 'memory_icons', memory: memory %>
  </div>
<% end %>