<div class="container-fluid">
  <div class="row">
    <div class="col-2 ml-5 mr-3">
      <%= render 'pets/pet_info', pet: pet %>
    </div>
    <div class="col-6">
      <div class="row">
        <% if memory.new_record? %>
          <h4>思い出を作る</h4>
        <% else %>
          <h4>思い出を編集する</h4>
        <% end %>
      </div>
      <div class="row mt-2">


        <%= form_with model: memory, local: true do |f| %>
          <div class="row">
            <%= f.text_field :title, size: '40', style: "border: none", placeholder: " タイトル", class:"pt-2 pb-2" %>
          </div>
          
          <!--写真挿入フォーム-->
          <div class="row mt-3">
            <%= f.attachment_field :memory_images_images, multiple: true %>
          </div>  
          <div class="row mt-3">
            <%= f.text_area :body, style: "border: none", size: "90x25", placeholder: " #{pet.name}との思い出を書いてみましょう", class:"pt-2" %>
          </div>
          <div class="row d-flex justify-content-center mt-3">
            <% if memory.new_record? %>
              <%= f.submit "投稿する", class:"btn-layout btn-layout2 pl-5 pr-5" %>
            <% else %>
              <%= f.submit "編集する", class:"btn-layout btn-layout2 pl-5 pr-5" %>
              <%= link_to "削除する", memory_path(memory), method: :delete, data: {confirm: "削除します。よろしいですか？"}, class:"btn-layout btn-layout3 ml-5" %>
            <% end %>
          </div>
        <% end %>


      </div>
    </div>
        <div class="col-3 ml-3">
      <div class="row d-flex justify-content-center">
        <h5><%= pet.name %>の思い出</h5>
      </div>
      <div id="memories_calendar">
        <%= render "pets/memories_calendar", memories: memories %>
      </div>
    </div>
  </div>
  <div class="modal-wrapper"></div>
  <div class="diary-modal">
    <%= render 'diaries/diary_form', diary: diary, pet: pet %>
  </div>
</div>