<% memories.each do |memory| %>
  <div class="memory-contents">
    
    <div class="row pt-2 pb-3">
      <div class="mx-auto">
        <%= link_to memory_path(memory) do %>
          <%= attachment_image_tag memory.memory_images.first, :image, size: '430x320', fallback: "no_image.png" %>
        <% end %>
      </div>
    </div>
    
    <% unless posted_by_pet.present? %>
      <div class="row">
        <div class="col-3 offset-2">
          <%= link_to pet_path(memory.pet) do %>
            <%= attachment_image_tag memory.pet, :image, size:'30x30', fallback: "no_image.png", class:"rounded-circle" %>
          <% end %>
          <span> <%= link_to memory.pet.name, pet_path(memory.pet) %></span>
        </div>
        <div class="col-3">
          <%= attachment_image_tag memory.pet.owner, :image, size:'30x30', fallback: "no_image.png", class:"rounded-circle" %>
          <span> <%= memory.pet.owner.name %></span>
        </div>
      </div>
    <% end %>
    
    <div class="row mt-3">
      <div class="col-6 offset-1 memory-title">
        <%= link_to memory.title, memory_path(memory) %>
      </div>
      <div class="col-4 memory-date">
        <%= memory.created_at.to_s(:datetime_jp) %>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-2">
        <%= truncate(memory.body, length: 100) %>
      </div>
    </div>
  </div>
  <%= render 'memories/memory_icons', memory: memory, diary: diary %>
<% end %>