<div class="container-fluid">
  <div class="row">
    <%= render 'pets/pet_info', pet: @pet %>
    <div class="col-6 ml-5">
      <% if @posted_by_pet.present? %>
        <div class="row ml-5 mb-2">
          <h4><%= @pet.name %>の思い出</h4>
        </div>
        <div class="row ml-5 mt-3">
          <div class="col-5">
            <div class="row d-flex justify-content-center">
              <%= link_to pet_path(@pet) do %>
                <%= attachment_image_tag @pet, :image, size:'110x110', fallback: "no_image.png", class:"rounded-circle" %>
              <% end %>
            </div>
            <div class="row d-flex justify-content-center">
              <%= link_to @pet.name, pet_path(@pet), class:"name-link" %>
            </div>
          </div>
          <div class="col-5">
            <div class="row d-flex justify-content-center">
              <%= attachment_image_tag @pet.owner, :image, size:'110x110', fallback: "no_image.png", class:"rounded-circle" %>
            </div>
            <div class="row name-link d-flex justify-content-center">
              <%= @pet.owner.name %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row ml-5 mb-2">
          <h4>みんなの思い出</h4>
        </div>
      <% end %>
      <div class="scroll-area" id="memory-scroll">
        <%= render 'memory_list', posted_by_pet: @posted_by_pet, memories: @memories, pet: current_owner.pet, diary: @diary %>
      </div>
    </div>
    <div class="col-3 ml-3">
      <%= render 'searches/search_box' %>
    </div>
  </div>
  
  <div class="modal-wrapper"></div>
  <div class="diary-modal">
    <%= render 'diaries/diary_form', diary: @diary, pet: @pet %>
  </div>
  
</div>