<div class="container-fluid">
  <div class="row">
    <div class="col-2 ml-5 mr-3">
      <%= render 'pets/pet_info', pet: @pet %>
    </div>
    <div class="col-6">
      <% if @posted_by_pet.present? %>
        <div class="row ml-3">
          <h4><%= @pet.name %>の思い出</h4>
        </div>
        <div class="row mt-3 mb-3 ml-5">
          <div class="col-3">
            <%= link_to pet_path(@pet) do %>
              <%= attachment_image_tag @pet, :image, size:'140x140', fallback: "no_image.png", class:"rounded-circle" %>
            <% end %>
          </div>
          <div class="col-3 d-flex align-items-center">
            <%= link_to @pet.name, pet_path(@pet), class:"name-link" %>
          </div>
          <div class="col-3">
            <%= attachment_image_tag @pet.owner, :image, size:'140x140', fallback: "no_image.png", class:"rounded-circle" %>
          </div>
          <div class="col-3 d-flex align-items-center name-link">
            <%= @pet.owner.name %>
          </div>
        </div>
      <% else %>
        <div class="row ml-5 mb-2">
          <h4>みんなの思い出</h4>
        </div>
      <% end %>
      <div class="memory-area">
        <%= render 'memory_list', posted_by_pet: @posted_by_pet, memories: @memories, pet: current_owner.pet, diary: @diary %>
      </div>
    </div>
    <div class="col-3 ml-3">
      <%= render 'searches/search_box' %>
    </div>
  </div>
  
  <div class="modal-wrapper"></div>
  <div class="diary-modal">
    <%= render 'diaries/diary_form', diary: @diary, pet: @pet %>
  </div>
  
</div>