<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%= render 'pets/pet_info', pet: @pet %>
    </div>
    <div class="col-6">
      <div class="row">
        <h4>思い出を作る</h4>
      </div>
      
      <%= form_with model: @memory, url: memories_path, local: true do |f| %>
        <div class="row">
          <%= f.text_field :title, style: "border: none", placeholder: "タイトル" %>
        </div>
        
        <!--写真挿入フォーム-->
        <div class="row">
          <div id="image-association-insertion-point">
            <%= f.fields_for :memory_images do |image| %>
              <%= image.attachment_field :image %>
              <%#= render 'memory_images/memory_image_fields', f: image %>
            <% end %>
          </div>
          <p class="tit-group_btn">
            <%#= link_to_add_association '写真を追加', f, :memory_images %>
              <!--# class: 'btn-type-b',-->
              <!--# data: {-->
              <!--#   association_insertion_node: '#image-association-insertion-point',-->
              <!--#   association_insertion_method: 'append'-->
              <!--# }-->
          </p>
          
          <%= f.text_area :body, style: "border: none", size: "80x30", placeholder: "#{@pet.name}との思い出を書いてみましょう" %>
        </div>
        <div class="row">
          <%= f.submit "投稿する", class:"btn" %>
        </div>
      <% end %>
      
    </div>
    <div class="col-3"></div>
  </div>
  <div class="modal-wrapper"></div>
  <div class="diary-modal">
    <%= render 'diaries/diary_form', diary: @diary, pet: @pet %>
  </div>
</div>