<!DOCTYPE html>
<html>
  <head>
    <title>ペッと！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" integrity="sha384-9/D4ECZvKMVEJ9Bhr3ZnUAF+Ahlagp1cyPC7h5yDlZdXs4DQ/vRftzfd+2uFUuqS" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row header-area">
          <div class="col-4 d-flex align-items-center justify-content-center">
            <div class="nav">
              <% if owner_signed_in? %>
                <li><%= link_to "みんなの日記", diaries_path %></li>
                <li><%= link_to "みんなの思い出", memories_path %></li>
              <% else %>
                <li><%= link_to "ペッと！について", about_path %></li>
              <% end %>
            </div>
          </div>
          <div class="col-4 d-flex align-items-center justify-content-center">
            <%= image_tag 'PF-logo.png', size:'150x100' %>
          </div>
          <div class="col-4">
            <% if owner_signed_in? %>
              <div class="row d-flex align-items-center">
                <div class="col-3 mt-4 mr-1">
                  <%= link_to pet_path(current_owner) do %>
                    <div class="row">
                      <i class="fas fa-home header-icon"></i>
                    </div>
                    <div class="row">
                      <p>マイハウス</p>
                    </div>
                  <% end %>
                </div>
                <div class="col-3" id="bell-icon">
                  <%= link_to notifications_path do %>
                    <div class="row mb-3">
                      <span class="fa-layers">
                        <i class="fas fa-bell header-icon"></i>
                        <% unless current_owner.pet.unchecked_notifications(current_owner.pet).blank? %>
                          <span class="fa-layers-text fa-inverse notifications"><%= current_owner.pet.unchecked_notifications(current_owner.pet).count %></span>
                        <% end %>
                      </span>
                    </div>
                    <div class="row">
                      <p>お知らせ</p>
                    </div>
                  <% end %>
                </div>
                <div class="col-3 mt-4">
                  <%= link_to  destroy_owner_session_path, method: :delete do %>
                    <div class="row">
                      <i class="fas fa-door-closed header-icon"></i>
                    </div>
                    <div class="row">
                      <p>ログアウト</p>
                    </div>
                  <% end %>
                </div>
              </div>
            <% else %>
              <div class="row">
                <div class="col-4">
                  <div class="row">
                    <%= link_to "新規登録", new_owner_registration_path %>
                  </div>
                </div>
                <div class="col-4">
                  <div class="row">
                    <%= link_to "ログイン", new_owner_session_path %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-3 offset-md-6">
            <%= link_to "Topへ戻る", root_path %>
            <%= link_to "お問い合わせ", "#" %>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
