<!DOCTYPE html>
<html>
  <head>
    <title>ペッと！</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" integrity="sha384-9/D4ECZvKMVEJ9Bhr3ZnUAF+Ahlagp1cyPC7h5yDlZdXs4DQ/vRftzfd+2uFUuqS" crossorigin="anonymous"></script>
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    
    <%= yield %>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">

          </div>
          <div class="col-md-3 offset-md-6">
            <%= link_to "Topへ戻る", root_path %>
            <%= link_to "お問い合わせ", "#" %>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
